[Unit]
Description=Limit Usage Xray Service
Documentation=https://t.me/bio_hazard89
After=syslog.target network-online.target

[Service]
User=root
NoNewPrivileges=true
ExecStart=/etc/xray/limit.vmess

[Install]
WantedBy=multi-user.target
